label {
  display: block;
  margin-top: 10px;
  color: #3B3B3B;
}
img {
  max-width: 100%;
  height: auto;
  filter: none;
  border: 1px solid #00faff;
}

.App {
  text-align: center;
  font-family: "Roboto", sans-serif;
  background-color: #FEEFDD; /* Dark background */
  color: #3B3B3B; /* Neon blue text color */
  padding: 20px;
}
h1 {
  color: #3B3B3B;
  text-transform: uppercase;
}
input[type="text"] {
  padding: 10px;
  font-size: 16px;
  background-color: #C97C5D;
  color: #3B3B3B;
  border: 1px solid #C97C5D;
  width: 100%;
  margin-bottom: 10px;
}
button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #FFF8EE;
  color: #3B3B3B;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #ff6b00; /* Neon orange on hover */
}
input[type="range"] {
  width: 100%;
  height: 6px;
  appearance: none; /* elimina el estilo por defecto */
  background: #C97C5D; /* color de la pista */
  border-radius: 5px;
  outline: none; /* Neon blue */
}
input[type="range"]::-webkit-slider-runnable-track {
  background: #C97C5D; /* color de la pista */
  height: 6px;
  border-radius: 5px;
}
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #3B3B3B; 
  border-radius: 50%;
  cursor: pointer;
  margin-top: -7px;
  transition: background 0.2s;
}
input[type="range"]::-webkit-slider-thumb:hover {
  background: #F5C396;
}