.app {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1E201E;
  color: #ECDFCC;
}
.editor {
  width: 45%;
}

.editor textarea {
  width: 100%;
  height: 400px;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #697565;
  border-radius: 5px;
  resize: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #3C3D37;
  color: #ECDFCC;
}
.preview {
  width: 50%;
  height: auto;
  padding: 10px;
  border: 1px solid #697565;
  border-radius: 5px;
  background-color: #f8f8f8;
  overflow: auto;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: #3C3D37;  
}