App {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 20px;
}
.input-container {
  width: 50%;
}
.input-container input {
  width: calc(100% - 130px);
  margin-right: 10px;
  padding: 8px;
  font-size: 16px;
}
.input-container button, .btn-delete {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}
.list-container {
  width: 50%;    
}
.conteiner-datos{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
}
.list-container ol {
  padding-left: 20px;
}
.list-container li {
  margin-bottom: 10px;
}
.datos{
  grid-column: 1 / 2;
}
.boton{
  grid-column: 2 / 3;
}
.btn-delete{
  padding: 4px;
}

