.calculator {
  width: 300px;
  margin: 50px auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f3f3f3;
  padding: 10px;
}
.display {
  margin-bottom: 10px;
}
.display input {
  width: calc(100% - 20px);
  height: 30px;
  margin-bottom: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
button {
  width: calc(100% - 10px);
  height: 40px;
  margin: 5px;
  padding: 5px;
  font-size: 18px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #eaeaea;
}
button.operator {
  grid-column: span 2;
}
button.equal {
  grid-column: span 4;
}