.calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #000;
  padding: 20px;
  font-family: "Roboto", sans-serif;
  width: 200vh;
  height: 100%;
}
.pantalla {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #1c1c1c;
  width: 90%;
  height: 80px;
  border-radius: 5px;
  margin-bottom: 20px;
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}
.resultado {
  font-size: 50px;
  color: #fff;
  padding-right: 10px;
}
.botones {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.boton {
  font-size: 25px;
  border: none;
  background-color: #222;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(150, 20, 61, 0.1);
  transition: all 0.2s ease-in-out;
}
.boton:hover {
  transform: translateY(-3px);
  box-shadow: 0px 3px 10px rgb(255, 255, 255);
}
.boton-numero {
  background-color: #444;
}
.boton-operador {
  background-color: #ba062a;
  color: #fff;
}
.boton-igual {
  background-color: #fe0059;
  color: #222;
  grid-column: span 4;
}
.boton-limpiar {
  background-color: #ffffff;
  color: #fe0059;
}
body {
  background-color: #333;
}