* {
  box-sizing: border-box;

  margin: 0;

  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;

  font-size: 16px;

  line-height: 1.5;

  background-color: #f9f9f9;

  color: #333;
}

/* Estilos de encabezado */

header {
  background-color: #dc3545;

  color: #fff;

  padding: 20px;
}

header h1 {
  font-size: 36px;

  margin-bottom: 20px;
}

nav ul {
  list-style: none;

  display: flex;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: #fff;

  text-decoration: none;
}

/* Estilos de secciones */

section {
  padding: 40px;

  margin-bottom: 40px;

  background-color: #fff;

  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  border-radius: 4px;
}

section h2 {
  font-size: 28px;

  margin-bottom: 20px;
}

section p {
  font-size: 16px;

  line-height: 1.5;

  margin-bottom: 20px;
}

section ul {
  list-style: none;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

  grid-gap: 20px;
}

section li {
  background-color: #dc3545;

  color: #fff;

  padding: 10px;

  text-align: center;

  border-radius: 4px;
}

section a {
  color: #fff;

  text-decoration: none;
}

/* Estilos de pie de página */

footer {
  background-color: #333;

  color: #fff;

  padding: 20px;

  text-align: center;
}

footer p {
  font-size: 14px;
}
