body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
body {
  font-family: "Arial", sans-serif;
  padding: 20px;
  background-color: #111; /* Color de fondo oscuro */
  color: #fff; /* Color de texto blanco */
}
input {
  margin-bottom: 10px;
  padding: 8px;
  border: 2px solid #0ff; /* Borde de color cyan */
  background-color: #111; /* Color de fondo oscuro */
  color: #0ff; /* Color de texto cyan */
}
input:focus {
  outline: none; /* Eliminar el contorno al enfocar */
  border-color: #f90; /* Cambiar el borde al enfocar a color naranja */
}
button {
  padding: 8px 15px;
  background-color: #f90; /* Color de fondo naranja */
  color: #111; /* Color de texto oscuro */
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave para el cambio de color de fondo */
}
button:hover {
  background-color: #0ff; /* Cambiar el color de fondo al pasar el ratón a cyan */
}
p {
  margin-top: 10px;
}
.btn-op{
  margin: 10px;
}